SistemKontroloruDesktopApp/SistemKontroloruDesktopApp/Connected Services/WCF_Servis/Sistem_Kontroloru_Servis_014.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60079/Sistem_Kontroloru_Servis_01.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Web_App_SistemKontroloru.Models" />
  <xs:element name="Servis_Kontrol">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Servis_KontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Servis_KontrolResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="giris">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Hardware_Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="girisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="girisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="girisSonrasiKontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardware_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="girisSonrasiKontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="girisSonrasiKontrolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ayarKontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hardware_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ayarKontrolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ayarKontrolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Web_App_SistemKontroloru.Models" minOccurs="0" name="isEmriResult" nillable="true" type="q1:ArrayOfWork_Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmri_Kapat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isemri__" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="yol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cmd_output" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isEmri_KapatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isEmri_KapatResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uygulama_listesi_gonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tablo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uygulama_listesi_gonderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uygulama_listesi_gonderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calisan_uygulama_gonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tablo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="calisan_uygulama_gonderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="calisan_uygulama_gonderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genel_kullanim_gonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cpu" type="xs:double" />
        <xs:element minOccurs="0" name="memory" type="xs:double" />
        <xs:element minOccurs="0" name="network_rec" type="xs:double" />
        <xs:element minOccurs="0" name="network_out" type="xs:double" />
        <xs:element minOccurs="0" name="io_rec" type="xs:double" />
        <xs:element minOccurs="0" name="io_out" type="xs:double" />
        <xs:element minOccurs="0" name="datetime_" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genel_kullanim_gonderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genel_kullanim_gonderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uygulama_kullanim_gonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Hardware_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="app_list_table" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="uygulama_kullanim_gonderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uygulama_kullanim_gonderResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pc_information">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hardwareid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Domain_User_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Version_" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Memory_Size_Gb" type="xs:double" />
        <xs:element minOccurs="0" name="Processor_Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Motherboard_Info" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pc_informationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="kullanimlari_esitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="thardwareid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sys_table" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="app_table" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kullanimlari_esitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>