SistemKontroloruDesktopApp/SistemKontroloruDesktopApp/Connected Services/WCF_Servis/Sistem_Kontroloru_Servis_0142.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Web_App_SistemKontroloru.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Web_App_SistemKontroloru.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWork_Order">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Work_Order" nillable="true" type="tns:Work_Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWork_Order" nillable="true" type="tns:ArrayOfWork_Order" />
  <xs:complexType name="Work_Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active_" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Datetime_" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Hardware_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result_" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Temp_" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Work_" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Work_Order" nillable="true" type="tns:Work_Order" />
</xs:schema>